<div class="animated fadeIn">
    <div class="card" ng-controller="kontingentCtrl">
        <div class="card-header">
            Kontingent management
        </div>
        <div class="card-block">

            <div ngf-drop ngf-select ng-model="files" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">Drop file here or click to upload</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            Files:
            <ul>
                <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
            </ul>

        </div>
    </div>
</div>
